.todo-list {
  display: flex;
  flex-flow: row wrap;
  width: 900px;
  .todo-card {
    margin: 10px 10px;
    animation: slide-up 1s ease;
  }
  @keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
}